.header-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(149deg, rgba(255, 0, 77, 0.04) 17.79%, rgba(31, 47, 152, 0.04) 69.78%), #111217;
}

.header-left-section {
  display: flex;
  align-items: center;
  flex: 1;
}

.header-logo {
margin-left: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 160px;
}

.header-nav-links {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-link {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
  transition: color 0.2s ease;
}

/* Active/highlighted navigation link */
.nav-link.active {
  color: #FFF;
  font-weight: 500;
  text-shadow: 0px 0px 2px #EAEBEE;
}

/* Inactive navigation links */
.nav-link.inactive {
  color: #C9C9C9;
  font-weight: 400;
}

/* Hover state for all navigation links */
.nav-link:hover {
  color: #ff3366;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar{
    position: relative;
    width: 300px;
}

.search-input{
    width: 100%;
    padding: 8px 40px 8px 12px;
    border-radius: 4px;
    border: 1px solid #424548;
    background: #222C38;
    color: #fff;
    font-size: 14px;
    outline: none;
}

.search-icon{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.login{
    border-radius: 8px;
    border: 1px solid #EAEBEE;
    cursor: pointer;
    padding: 8px 16px;
    background: transparent;
    color: white;
}

.signup{
    border-radius: 8px;
    background: #DF2144;
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    color: white;
}

.user-button-wrapper {
  display: flex;
  align-items: center;
}

